@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Poppins:wght@100;200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
     /* Main theme color */
  --first-color-main: #18140ffd;
  --background-color: #251d16;
  --second-background-color:#222;
  --third-color: #aa8453;
  --white:#fff;
  --black:#292727;
  --nav-letter:#70768a;
  
  /* Hoover colors */
  --hoover-color: #c0955d;

  /* Font size */
  --small-font-size: 0.9em;
  --normal-font-size: 1em;

   /* Scroll bar colors */
   --scroll-bar-color: #c5cadf;
   --scroll-thumb-color: #70768a;
   --scroll-thumb-hoover-color: #454f6b;

   /* Logo font  */
   --logo-font: 'Caveat', cursive;
}

::selection {
    background-color: var(--hoover-color);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Roboto', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
  body {
    color: var(--first-color-main);
    background: var(--background-color);
    margin: 2rem 0 0 0;
    transition: 0.5s ease;
  }

  /* Scroll bar section  */
  ::-webkit-scrollbar {
    width: 10px;
    background: var(--background-color);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--hoover-color);
    border-radius: 2em;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--hoover-color);
  }

  /* .container {
    padding-right: 60px;
    padding-left: 60px;
} */

 
  /* Header and navigation section starts here  */

  .header{
    position: fixed;
    top: 0; left: 0;
    z-index: 999;
    background: var(--first-color-main);
    width: 30rem;
    height: 100%;
    padding: 2rem;
    text-align: center;
  }

  .header .logo img{
    margin: 1rem 0;
    border: .8rem solid transparent;
    border-radius: 50%;
    height: 17rem;
    width: 17rem;    
  }

  .header .logo h3{
    margin: .5rem;
    color: var(--white);
    font-size: 2.5rem;
    letter-spacing: .3rem;
}
.header .logo h3 span {
    color: var(--third-color);
    font-size: 4rem;
    font-family: var(--logo-font);
}
.header .logo p{
    color: var(--white);
    font-size: 2rem;
    font-weight: 500;
    margin: .5rem;
}

.header .navbar{
    padding-top: 1.5rem;
    color: var(--hoover-color);
}
.header .navbar a{
    display: block;
    margin: 1.2rem 0;
    padding: .7rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--third-color);
}
.header .navbar a:hover{
    color: var(--white);
    background: var(--hoover-color);
}

.social_icon{
    position: relative;
    display: inline-block;
    width: 7rem;
    height: 7rem;
    margin: 1rem;
    border-radius: 30%;
    text-align: center;
    background: var(--first-color-main);
    box-shadow: 0 5px 15px -5px #00000080;
    overflow: hidden;
}

.social_icon i{
    line-height: 7rem;
    font-size: 3rem;
    color: var(--hoover-color);
    transition: 0.2s linear;
}

.social_icon:hover i{
    transform: scale(1.4);
    color: var(--background-color);
}

.social_icon::before{
    content: '';
    position: absolute;
    width: 120%;
    height: 120%;
    background: var(--hoover-color);
    transform: rotate(45deg);
    top: 90%;
    left: -110%;
}

.social_icon:hover::before{
    top: -10%;
    left: -10%;
    animation: social_animate 0.7s;
}

@keyframes social_animate{
    0%{
        left: -110%;
        top: 90%;
    }
    50%{
        left: 10%;
        top: -30%;
    }
    100%{
        left: -10%;
        top: -10%;
    }
}
  /* Header and navigation section ends here  */
  /* Menu button starts here  */
.menu-btn{
    position: fixed;
    top: 1.5rem;
    left:2rem;
    z-index: 1000;
    height: 5rem;
    width: 5rem;
    line-height: 2.5rem;
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;  
    background: var(--background-color);   
    display: none;
}
.menu-btn .bar, .menu-btn::after, .menu-btn::before{
    content: '';
    display: block;
    width: 60%;
    height: 4px;
    margin: 6px 9px;
    transition: 0.3s;
    background: var(--third-color);
}

.menu-btn.active:before{
    transform: rotate(-45deg) translate(-7px, 7px);
}
.menu-btn.active:after{
    transform: rotate(45deg) translate(-7px, -7px);
}
.menu-btn.active .bar{
    opacity: 0;
}

/* .menu-btn:hover{
    background: var(--hoover-color);
} */


  /* Menu button ends here  */

/* Home section starts here  */
section{
    max-width: 1500px;
}
.home {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;  
    margin-left: 30rem;  
    
}
.container{
    width: 100%;
    height: 85vh;
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper{
    width: 100%;
    height: fit-content;
    position: relative;
}

.swiper-slide img{
    width: 100%;
}

.swiper .swiper-button-prev{
    position: absolute;
    left:47.8%;
    top:90%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.swiper .swiper-button-next{
    position: absolute;
    right:47.8%;
    top:90%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.swiper i{
    font-size: 3rem;
    color: var(--background-color);
    background: transparent;
    border-radius: 60%;
    opacity: .9;
    /* border: 2px solid rgba(0, 0, 0, 100); */
}
.swiper i:hover{
    font-size: 3rem;
    color: var(--hoover-color);
    background: transparent;
    border-radius: 60%;
    transition: .3s linear;
    opacity: .9;
}

/* Home-about section*/

.home-about {
    padding: 90px 0;
    padding-bottom: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 10rem;
}
.row_about{
    margin-right: 55rem;
    width: 500px;
    height: 600px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}
.column_about{
    /* margin-right: 40rem; */
    margin: 5rem; 
    position: absolute;
    margin-top: 10rem;
    width: 650px;
    height: 600px;
    padding: 50px;
}

.title_about{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    margin-bottom: 1rem;
    color: var(--third-color);
    text-align: left;
    margin: 1rem;
}

.main_title_about{
    font-size: 3.5rem;
    text-transform: none;
    letter-spacing: .3rem;
    margin-bottom: 1rem;
    font-family: var(--logo-font);
    color: var(--white);
    text-align: left;
    margin: 1rem;
}

.column_about p{
    font-size: 1.5rem;
    text-transform: none;
    letter-spacing: .1rem;
    font-weight: 500;
    line-height: 1.5em;
    color: rgba(255,255,255,0.5);
    padding: 1.5rem;
    text-align: left;
}
.column1{
    margin-left: 68rem;
    /* margin-top: 14rem; */
    top: 40%;
    position: absolute;
    width: 100px;
    height: 150px;
}
.column1 img{
    width: 24rem;
    height: 25rem;
    object-fit: cover;
    object-position: 90% 80%;

}

.column2{
    margin-left: 100rem;
    margin-top: 7rem;
    top: 15%;
    bottom: 15%;
    position: absolute;
    width: 100px;
    height: 150px;
}

.column2 img{
    width: 20rem;
    height: 25rem;
    object-fit: cover;
    object-position: 100%;
}

/* Home-room section  */
/* .container-room{
    margin: 20px;
    margin-left: 30rem;
    width: 1500px;
    height: 1000px;
} */
.home-room{
    display: flex;
    position: relative;
    margin-left: 10rem;
    /* background: var(--second-background-color); */
}


.row-room{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    margin-left: 33rem;
    margin-top: 12rem;
    grid-column-gap:2rem;
    grid-row-gap: 15rem;  
    padding-bottom: 100px;  
}
.title{
    position: absolute;
    width: 650px;
    height: 100px;
    padding: 5px;
    margin-left: 32rem;
}
.title_room{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    margin-bottom: 1rem;
    color: var(--third-color);
    text-align: left;
}
.main_title_room{
    font-size: 3.5rem;
    text-transform: none;
    letter-spacing: .3rem;
    margin-bottom: 1rem;
    font-family: var(--logo-font);
    color: var(--white);
    text-align: left;
}
.room-image{
    position: relative;
    max-width: 350px;
    height: 350px;
    overflow: hidden;
}

.room-image img{
    max-width: 350px;
    height: 350px;
    opacity: 0.8;
    position: relative;
    vertical-align: top;
    transition: 0.6s;
    transition-property: opacity;
    object-fit: cover;
    object-position: center;
}

.room-image:hover img{
    opacity: 1;
}

.room-image .details{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--white);
    width: 100%;
    height: 100%;
}
/* .room-image .details h5{
    text-align: center;
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 70px;
    color: var(--white);
    transition: 0.4s;
    transition-property: transform;
}
.room-image .details h5 span {
    font-weight: 300;
    font-size: 1em;
    color: var(--third-color);
 } */
 .room-image .details h6{
    text-align: left;
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 32rem;
    margin-left: .5rem;
    color: var(--white);
    opacity: 1;
    transition: 0.6s;
    transition-property: opacity, transform;
 }
 .room-image .details h6 span {
    font-weight: 500;
    font-size: 1em;
    color: var(--second-background-color);
    text-transform: none;
 }
 /* .room-image:hover .details h5 {
    transform: translateY(-30px);
 } */

 .room-image:hover .details h6{
    opacity: 1;
    transform: translateY(-40px);
 }
.more{
    position: absolute;
    background: rgba(255,255,255,0.8);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    bottom: -55px;
    transition: 0.6s;
    transition-property: bottom;
    opacity: .8;
}
.room-image:hover .more{
    bottom: 0;    
}
.icon-links svg{
    fill: var(--third-color);
    font-size: 20px;
}

.more .icon-links a:not(:last-child){
    margin-right:20px ;
}
.icon-links svg:hover{
    transform: scale(1.7);
}
.button{
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 40rem;
    margin-left: -25rem;
    /* border: 3px solid rgba(255,255,255,0.8); */
    
    
}
.button a{
    position: relative;
    padding: 15px;
    margin: 0 10px;
    margin-left: 8rem;
}
.button .read-more{
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: hidden;
    transition: 0.5s;
}
.button .read-more:hover{
    /* background: var(--hoover-color); */
    color: var(--hoover-color);
    box-shadow: 0 0 10px var(--hoover-color);
    transition-delay: 0.3s;
}
.button .read-more:hover span{
    /* background: var(--hoover-color); */
    color: var(--white);
    transition-delay: 0.3s;
}
.button .read-more::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--hoover-color);
    border-left: 2px solid var(--hoover-color);
    transition: 0.5s;
}
.button .read-more:hover:before{
    width: 100%;
    height: 100%;
    border-top: 2px solid var(--hoover-color);
    border-left: 2px solid var(--hoover-color);
}
.button .read-more::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid var(--hoover-color);
    border-right: 2px solid var(--hoover-color);
    transition: 0.5s;
}
.button .read-more:hover:after{
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--hoover-color);
    border-right: 2px solid var(--hoover-color);
}
.button .read-more span{
    font-weight: 900;
    text-transform: uppercase;
    margin-left: .3rem;
    color: var(--third-color);
}
/* Home section ends here  */












/* Media queries  */
@media (max-width: 1260px) {
    html{
        font-size: 60%;
    }
    body {
        padding-left: 0;
    }
    .header {
        left: -120%;
    }
    .header.active {
        left: 0%;
        transition: .4s linear;
    }
    .menu-btn{
        display: initial;
    }
    .menu-btn{
        background: var(--first-color-main);
    }
    .menu-btn.active{
        background: var(--background-color);
    }
    }

@media (max-width: 991px){
    html{
        font-size: 55%;        
    }
    body {
        padding-left: 0;
    }
    .header {
        left: -110%;
    }
    .header.active {
        left: 0%;
        transition: .4s linear;
    }
    .menu-btn{
        display: initial;
    }   
    .menu-btn{
        background: var(--first-color-main);
    }
    .menu-btn.active{
        background: var(--background-color);
    }
    /* .card{
       
        max-width: 600px;
    }
    .card-content h3, .card-content span{
        font-size: 2rem;
    }     */

    .capacity{
        color: white;

    }
    .capacity h2{
        font-size: 8rem;
        text-align: center;
        text-transform:none;
    
    }
    .capacity h3{
        font-size: 4rem;
        text-align: center;
        text-transform:none;
    
    
    
    }
    .capacity li{
        font-size: 2rem;
        text-align: left;
        padding-left: 17rem;
        text-transform:none;
    
    }
    .capacity ol{
    box-sizing: border-box;
    margin: 10rem;
    text-transform:none;
    
    }


}
@media (max-width: 450px){
    html{
        font-size: 50%;        
    }
    .header{
        width: 100%;
        border-right: 0;
    }
    .menu-btn{
        background: var(--first-color-main);
    }
    .menu-btn.active{
        background: var(--background-color);
    }
}
